body {background: #FFFFFF; font-family: arial, verdana, sans-serif; marginwidth: 0; marginheight: 0; margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; text-decoration: none;}
td.maintext {font-family: Tahoma, Verdana, sans-serif; font-weight: normal; text-indent: 6px;}
a:link {background-color: transparent; color: #000000; text-decoration: underline;}
a:visited {background-color: transparent; color: #000000; text-decoration: none;}
a:hover {background-color: transparent;color: #000000; text-decoration: underline;}
a:active {background-color: transparent; color: #000000; text-decoration: none;}
/*Title font*/
.title {font-family: Tahoma, Arial, Helvetica, san-serif; font-size: 16px; font-weight: bold; color: #6699FF;}
/*Block Font*/
.block {font-family: Tahoma, Arial, Helvetica, san-serif; font-size: 12px; font-weight: bold; color: #000000;}
.block-title {font-family: Tahoma, Arial, Helvetica, san-serif; font-size: 14px; font-weight: bold; color: #000000;}
.small-text {font-family: Tahoma, Arial, Helvetica, san-serif; font-size: 8px; font-weight: bold;}
/*text size for login form*/
.form-font {font-family: Tahoma, Arial, Helvetica, san-serif; font-size: 10px; font-weight: bold; color: #000000;}
input.lil {font-size: 7px;}
input.button {background: #F3F3F3; color: #000000; border: 1px solid #000000; font-size: 10px;  border-collapse: collapse;}